<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        label {
            width: 75px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <form>
        <p>
            <label for="idade1">sua idade</label>  
            <input type="number" name="idade_pessoa" id="idade1">
        </p>
        <p>
            <label for="idade2">idade pai:</label>
            <input type="number" name="idade_pai" id="idade2">
        </p>
        <input type="submit" value="enviar">
    </form>
</body>
</html>