<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        label {
            width: 75px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <form>
        <p>
            <label for="ddd">ddd:</label>  
            <input type="number" name="ddd" id="ddd">
        </p>
        <p>
            <label for="tel">telefone:</label>
            <input type="number" name="tel" id="tel">
        </p>
        <input type="submit" value="enviar">
    </form>
</body>
</html>